* { margin: 0; padding: 0;}
a { text-decoration: none; color:white;}
li { list-style: none;}
body {font-family: 'Noto Sans', sans-serif, 'Roboto', sans-serif, 'Nanum Myeongjo', serif, 'Oswald', sans-serif; color:#333;}